[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
scipy = "*"
basemap-data = "*"
setuptools = "*"
pip = "*"
basemap = "*"
gdal = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
