@import "tailwindcss";
@import "react-data-grid/lib/styles.css";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, emerald, corporate, bumblebee;
}

/* New styles to align the last tab to the opposite end */
.tabs.as-two-lists {
  justify-content: flex-start;
}

.tabs.as-two-lists > input:last-of-type {
  flex-grow: 1;
  text-align: right;
  justify-content: flex-end;
  font-weight: bold;
  background-color: var(--color-secondary);
  color: var(--color-secondary-content);
  justify-content: center;
}

.main-area-content {
  width: calc(100% - 2rem); /* 100% of the parent's width minus 2 rem */
}